<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <body>
      <div class="ui container" style="margin:200px auto; width: 400px; display: flex; flex-direction: column; align-items: center;">
        <h1>Welcome</h1>
      <a href="/login">Sign In</a>
    </div>
  </body>
</html>